<?xml version="1.0" encoding="UTF-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="8" android:versionName="1.0-SNAPSHOT" package="no.ntnu.kpro.app">
    <application android:debuggable="true" android:label="@string/app_name">
        <activity android:label="@string/app_name" android:name="no.ntnu.kpro.app.activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:label="@string/app_name" android:name="no.ntnu.kpro.app.activities.SendMessageActivity">
            <action android:name="no.ntnu.kpro.app.activities.SendMessageActivity"/>
        </activity>
        <activity android:label="@string/app_name" android:name="no.ntnu.kpro.app.activities.LoginActivity">
            <action android:name="no.ntnu.kpro.app.activities.LoginActivity"/>
        </activity>
              <activity android:label="@string/app_name" android:name="no.ntnu.kpro.app.activities.RegisterActivity">
            <action android:name="no.ntnu.kpro.app.activities.RegisterActivity"/>
        </activity>
     
        <activity android:label="@string/app_name" android:name="no.ntnu.kpro.app.activities.FoldersActivity">
            <action android:name="no.ntnu.kpro.app.activities.FoldersActivity"/>
        </activity>
        <activity android:label="@string/app_name" android:name="no.ntnu.kpro.app.activities.MessageViewActivity">
        </activity>
        <activity android:label="@string/app_name" android:name="no.ntnu.kpro.app.activities.MessageOperationActivity">
        </activity>
        <activity android:label="@string/app_name" android:name="no.ntnu.kpro.app.activities.MainTabActivity">
        </activity>
        <activity android:label="@string/app_name" android:name="no.ntnu.kpro.app.ContactsActivity">
        </activity>
        <activity android:label="@string/app_name" android:name="no.ntnu.kpro.app.activities.SettingsActivity">
        </activity>
        <service android:name="no.ntnu.kpro.core.service.ServiceProvider">
            <intent-filter>
                <action android:name="no.ntnu.kpro.core.service.ServiceProvider"/>
            </intent-filter>
        </service>
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.LOCATION_SERVICE" />
</manifest>